@model CartonProject.ViewModels.CartonViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Carton</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CartonNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CartonNumber)
        </dd>

        <dd>
            @Html.DisplayNameFor(model =>model.CartonNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
